/* Reset some default styles for better customization */
body, h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-family: 'Retro Gaming', monospace;
    color: #f8f8f2;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Hermit', monospace;
    color: #f8f8f2;
}

body {
    background-color: #000000;
}

header {
    background-color: #282a36;
    padding: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #bd93f9;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ff79c6;
    background-color: #000000;
}

h1, h2 {
    color: #50fa7b;
    padding-bottom: 20px;
}

h3 {
    color:#ffb86c;
    font-size: 50px;
}

a {
    color: #ffb86c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.project {
    position: relative;
    overflow: hidden;
}

.project-link {
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}


.project-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for text readability */
    color: #ffffff; /* Text color on the background */
    padding: 20px;
}

.project-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px;
    width: 200%; /* Ensure the image covers the container */
    filter: blur(5px); /* Apply blur to the background image */
}

footer {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    position: bottom;
    bottom: 0;
    width: 100%;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-image img {
    max-width: 200px; /* Adjust the size as needed */
    max-height: 200px; /* Adjust the size as needed */
    border-radius: 10%; /* Creates a rounded image */
    margin-right: 50px; /* Adds spacing between the image and text */
}
